@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #000000;
    --primary-color-light: #0c0d0c;
    --primary-color-extra-light: #0c090d;
    --secundary-color: #7df704;
    --secundary-color-dark: #0cba0c;
    --text-ligth: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.section_subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-ligth);
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secundary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--secundary-color-dark);
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.bg_blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secundary-color);
    z-index: -1;
}

/*  ===== NAVBAR ====== */
nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav_logo {
    max-width: 150px;
    transition: .5s;
}

.nav_logo:hover {
    transform: scale(1.1);
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
}

.link a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secundary-color);
    transition: .3s;
}

.link a:hover::after {
    width: 60%;
}

.header_container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.header_container::before {
    content: "FITNESS";
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--white);
    opacity: 0.05;
    z-index: -1;
}

.header_blur {
    bottom: 5rem;
    right: 0;
}

.header_content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secundary-color);
}

.header_content h1 {
    margin-bottom: 1rem;
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 5rem;
    color: var(--white);
}

.header_content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.header_content p {
    margin-bottom: 2rem;
    color: var(--text-ligth);
}

.header_image {
    position: relative;
}

.header_image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--secundary-color);
    opacity: 0.1;
    z-index: -1;
}

.header_image img {
    max-width: 350px;
    margin: auto;
}

.explore_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.explore_nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.explore_nav span {
    padding: 0px 6px;
    font-size: 1.5rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}

.explore_nav span:hover {
    color: var(--secundary-color);
    border-color: var(--secundary-color);
}

/*  ===== SECTION 1 ====== */
.explore_grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.explore_card {
    padding: 1rem;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: .3s;
}

.explore_card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secundary-color);
}

.explore_card span {
    display: inline-block;
    padding: 3px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--secundary-color-dark);
    border-radius: 5px;
}

.explore_card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}

.explore_card p {
    margin-bottom: 1rem;
    color: var(--text-ligth);
}

.explore_card a {
    color: var(--white);
    transition: .3s;
}

.explore_card a:hover {
    color: var(--secundary-color);
    font-size: 1.1rem;
}

/* ===== SECTION 2 ==> Clases de entrenamiento =====  */
.class_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.class_image {
    position: relative;
}

.class_image .class_img-1 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    border-radius: 10px;
}

.class_image .class_img-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    border-radius: 10px;
}

.class_container {
    padding: 2rem 0;
}

.class_container .section_header {
    text-align: center;
    max-width: 400px;
}

.class_content p {
    margin-bottom: 4rem;
    color: var(--text-ligth);
}

/* ===== SECTION 3 =====  */
.join_image {
    margin-top: 4rem;
    position: relative;
}

.join_image img {
    border-radius: 10px;
}

.join_grid {
    position: absolute;
    bottom: -5rem;
    width: calc(100% - 4rem);
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--primary-color-extra-light);
    border-radius: 10px;
}

.join_card {
    flex: 1 1 250px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.join_card span {
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--secundary-color-dark);
    border-radius: 5px;
}

.join_card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.join_card p {
    color: var(--text-ligth);
}

/* ===== SECTION 4 ==> PLANES MENSUALES: =====  */
.price_grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.price_card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-extra-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: .3s;
}

.price_card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secundary-color);
}

.price_card_content {
    flex: 1;
    margin-bottom: 2rem;
}

.price_card h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.price_card h3 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.price_card p {
    margin-bottom: 0.75rem;
    color: var(--white);
}

.price_card p i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--secundary-color);
}

.price_btn {
    color: var(--secundary-color);
    background-color: transparent;
    border: 2px solid var(--secundary-color);
}

.price_btn:hover {
    color: var(--white);
    background-color: var(--secundary-color-dark);
}

/* ===== SECTION 5 ==> REVIEWS =====  */
.review {
    background-color: var(--primary-color-extra-light);
}

.review_container {
    display: flex;
    gap: 2rem;
}

.review_container>span {
    font-size: 6rem;
    color: var(--secundary-color);
    opacity: 0.5;
}

.review_content {
    flex: 1;
}

.review_content h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}

.review_content p {
    max-width: 800px;
    margin-bottom: 2rem;
    color: var(--text-ligth);
}

.review_rating span {
    font-size: 1.5rem;
    color: var(--secundary-color);
}

.review_footer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.review_member {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.review_member img {
    max-width: 80px;
    border-radius: 100%;
}

.review_member_details h4 {
    margin-bottom: 0;
}

.review_nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.review_nav span {
    font-size: 2rem;
    color: var(--secundary-color);
    cursor: pointer;
}